                                              /* main page  */
.bu {
    display: none;

}

    /* for whole body */
*{   
    font-family: "soleil",sans-serif;
    background-color: white;
    color:black;
} 
header{
    display:flex;
    border-bottom: 6px solid black;
}
    /* for navigation bar  */
.nav{
    width: 100%;
}
.nav-right{
    float:right;
    text-align: right;
    padding: 20px;
    
  
 }
 .nav-right a{
     margin-right: 10px;
     text-decoration: none;
    
     
 }
 .nav-right a:hover{
     color:#f1730b;
 }
 
.nav-mid{
    text-align: center;
    padding: 20px;
    
}
.nav-mid h3{
    
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
}  
         /* for main pic*/
.pic{
  
    
    margin-top: 50px;
    padding: 20px;

}
.pic img{
    height:50%;
    width:100%;

}
           /* for footer */
 .footer-rights{
    padding: 20px;
    text-align: center;
    color:black;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
} 
.footer{
    padding: 20px;
    text-align: center;
    color:black;
    text-decoration: none;
}
     /* for services */
.service{
    display: flex;
    width: 100%;
}
.slider{
  
    text-align: center;
    overflow-x: hidden;
    width: 100%;
    padding: 10PX;
}
.slider img{
  
    width:100%; 
    height:50%;

} 

    /* for list */
.list{
    text-align: center;
    list-style: none;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 20px;
} 

h1{
    text-align: center;
}

@media only screen and (max-width:681px) {
    .nav-right{
        display:none;
    }
    .bu {
        display: block;
    
    }

}
                                 /* for about us page  */
.Abouts{
    width:100%;
    font-size: 20px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 60px;
    
}